#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 370px;
  object-fit: cover;
}


@media (max-width: 640px) {
  .swiper-slide img {
    height: 230px; /* Adjust height for smaller screens */
  }
}

/* Media query for screen width 768px */
@media (min-width: 641px) and (max-width: 768px) {
  .swiper-slide img {
    height: 300px; /* Adjust height for medium-sized screens */
  }
}

/* Media query for screen width 1024px */
@media (min-width: 769px) and (max-width: 1024px) {
  .swiper-slide img {
    height: 350px; /* Adjust height for larger screens */
  }
}