.avatar{
  position:relative;
  display:inline-block;
}

.tooltip {
  visibility: hidden;
  width:120px;
  background-color:#555;
  color:#fff;
  text-align:center;
  padding: 1px 0;
  border-radius: 6px;
  position:absolute;
  z-index:1;
  bottom:125%;
  left:50%;
  margin-left: -60px;
}

.avatar:hover .tooltip{
  visibility: visible;
}


